extend layout

block content

	#rendererContainer

	x-deck
		x-card
			header
				h1 Look at this!
			p isn't it amazing?!?!

		x-card
			header
				h1 I dunno
			p I'm an skeptic

	#transport
		span#time
		button#rew REW
		button#play play
		button#pause pause
		button#fwd FWD
		
	
	#gui

	script(src='/socket.io/socket.io.js', type='text/javascript')
	script(src='/js/libs/x-tag/core.js', type='text/javascript')
	script(src='/js/libs/x-tag/deck.js', type='text/javascript')
	script(src='/js/libs/zepto.js', type='text/javascript')
	script(src='/js/libs/AudioContextMonkeyPatch.js', type='text/javascript')
	script(src='/build/bundle.js', type='text/javascript')

