extend layout

block content

	#rendererContainer

	x-deck(transition-type="fade")
		
		x-card.opaque
			div
				h1 Hello JSConfEU!
				p How is it going?
		
		x-card
			h1 I /love/ music

		x-card
			h1 Another one

		x-card
			h1 guess what...

		x-card
			div
				h1 I dunno
				p I'm an skeptic

	#transport.hidden
		button#rew ❚◀◀
		button#play ▶
		button#pause ❚❚
		button#fwd ▶▶❚
		#time 
		#order
	
	#gui.hidden

	script(src='/socket.io/socket.io.js', type='text/javascript')
	script(src='/js/libs/x-tag/core.js', type='text/javascript')
	script(src='/js/libs/x-tag/deck.js', type='text/javascript')
	script(src='/js/libs/zepto.js', type='text/javascript')
	script(src='/js/libs/AudioContextMonkeyPatch.js', type='text/javascript')
	script(src='/build/bundle.js', type='text/javascript')

