!!! 5
html
	head
		title orxatron
		meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
		meta(content='yes', name='apple-mobile-web-app-capable')
		meta(content='chrome=1', http-equiv='X-UA-Compatible')
		link(rel='shortcut icon', href='/favicon.ico')
		link(rel='stylesheet', href='/css/x-tag/deck.css')
		link(rel='stylesheet', href='/css/main.css')

	body
		#wrapper
			block content


