* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, #wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

#wrapper > * {
	position: absolute;
	top: 0;
	left: 0;
}

#rendererContainer {
	background: #eee;
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

x-deck {
	/*border: 1px solid red;*/
}

x-card {
	padding: 1.5rem;
	font-size: 3rem;
	color: #fff;
}

x-card.opaque:nth-child(1n) {
	background: #5fc7ab;
}

x-card:nth-child(2n) {
	background: #e49280;
}

x-card:nth-child(3n) {
	background: #e4ed80;
}

x-card:nth-child(4n) {
	background: #e0a727;
}

x-deck > x-card {
	transition-property: all;
	transition-duration: 1s;
}

x-deck > x-card[card-anim-type=fade]:not([reverse])[selected][before-animation] {
	opacity: 0;
}

x-deck > x-card[card-anim-type=fade]:not([reverse])[leaving]:not([before-animation]) {
	opacity: 1;
}
x-deck > x-card[card-anim-type=fade][reverse][selected][before-animation] {
	opacity: 0;
}
x-deck > x-card[card-anim-type=fade][reverse][leaving]:not([before-animation]) {
	opacity: 1;
}


x-deck > x-card {
	display: -webkit-box;
    display: -moz-box;
	display: box;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
}

/* --- */

canvas {
	display: block;
}

#transport {
	right: 0;
	width: 100%;
	text-align: right;
	z-index: 10;
	transition: opacity 0.3s ease-in;
}
	#transport.hidden {
		opacity: 0;
	}

	#transport button {
		padding: 0.5rem 0.5rem;
		border: 1px solid #999;
		color: #888;
		background: #fff;
		font-size: 1rem;
		line-height: 1rem;
		transition: color 0.3s ease-in;
	}
		#transport button:hover {
			color: #0f0;
			background: #333;
			text-shadow: 0px 0px 6px #0f0;
		}
	
	#time, #order {
		font-size: 0.7rem;
		text-transform: uppercase;
	}

#oscilloscope {
	position: absolute;
	bottom: 0;
	right: 0;
	border: 3px solid rgba(0, 0, 0, 0.5);
}

#gui {
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 100%;
	z-index: 10;
	overflow-y: auto;
	transition: opacity 0.5s ease-in;
}
	#gui.hidden {
		opacity: 0;
	}

	#gui > * {
		background: linear-gradient(0deg, #888, #ccc);
		border: 10px solid rgba(0, 0, 0, 0);
		padding: 1rem;
		display: block;
		margin: 1rem 2rem;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
		font-family: 'Courier New', monospace;
		font-size: 0.8rem;
		font-weight: bold;
		text-shadow: 1px 1px 1px #fff;
		transition: all 0.3s ease-in;
	}

	#gui > .selected {
		border-color: rgba(255, 255, 0, 0.3);
		background: linear-gradient(0deg, #aa8, #eec);
	}
		

.gear-mixer .fader span {
	padding-right: 1rem;
}

gear-bajotron {
}

gear-oscillator-voice {
	display: inline-block;
}
